* {
  background-color: #0F172A;
  color: #E2E8F0;
}

.grid-parent {
  display: grid;
  /* grid-template-columns: 52fr 48fr; */
  /* height: 1000px; */
  border: 3px solid rgb(255, 255, 255);
  padding: 150px 150px;
  margin: 0px 50px;
}

.Top {
  display: grid;
  border: 3px solid rgb(0, 0, 0);
  grid-template-columns: 52fr 48fr; /* You can adjust this depending on layout */
  position: relative; /* This keeps everything within this container */
}

body {
  font-family: 'Inter';
  letter-spacing: -.5px;
}

.Name_Banner {
  grid-column: 1;
  display: grid;
  position: fixed;
  grid-template-columns: 40fr 60fr;
  padding-top: 50px;
  border: 1px solid rgb(255, 122, 122);
}

.About {
  display: grid;
  grid-column: 2;
  align-content: start;
  padding: 45px;
  /* place-content: center; */
  /* justify-self: auto; */
  border: 3px solid rgb(0, 175, 12);
}

.Name_Banner img {
  border-radius: 100px;
  text-align: center;
  align-content: center;
  width: 150px;
  height: 150px;
  display: block;
  margin: auto auto 10px 40px;
}

.Name_Banner h1,
h2 {
  margin: 0px;
}

.Name_Banner h1 {
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.Name_Banner p {
  color: #97a7be;
  padding: 5px;
  line-height: 1.5;
  font-size: 16px;
  font-weight: normal;
}

.Name_Banner h2 {
  font-size: 20px;
  font-weight: 570;
}

.About .about_para {
  color: #94A3B8;
  margin: 0px 0px 16px 0px;
  padding: 5px;
  line-height: 1.7;
  font-size: 16px;
  font-weight: normal;
  justify-items: center;
  letter-spacing: 0;
}

.About .Experience {
  margin: 90px 2px 16px 2px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  /* border: 1px solid rgb(211, 201, 201); */
  row-gap: 18px;
}

.experience_card {
  display: grid;
  grid-template-columns: 2fr 4fr;
  color: rgb(201, 209, 237);
  letter-spacing: 0.1px;
  border-radius: 20px;
}

.experience_card p {
  color: #616f93;
  font-size: small;
  background-color: inherit
}

.experience_card span {
  color: #E2E8F0;
  font-weight: 550;
  font-size: medium;
}

.experience_card .period {
  margin: 15px;
  color: #616f93;
  font-size: 12px;
  font-weight: normal;
}

.experience_card .experience_description {
  padding-right: 15px;
  border-radius: inherit;
}

.experience_card:hover {
  /* box-shadow: 0px 1px 3px rgb(103, 109, 138); */
  filter: drop-shadow(0 0 5px #b7bbf8aa);
  /* border: 1.5px solid rgb(211, 201, 201); */
  /* backdrop-filter: blur(10px) saturate(100%);
  filter: blur(4px); */
  /* background-color: #adc1f5; */
}